html_theme_options:
  css_files:
    - custom.css
  extra_css: |
    body {
      background-image: url('https://imgur.com/9qvzevc.png');
      font-family: 'Garamond', Courier, monospace;
      font-size: 16px;
      color: black;
    }
    h1, p {
      font-family: 'Garamond', serif;
    }
.toc-title {
  font-family: 'Garamond', serif;
  font-size: 16px;
  color: black;
}
